DATABASE_PORT=5432
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"
PORT=3000
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MAILHOG_SMTP_PORT=1025
MAILHOG_UI_PORT=8025
SMTP_HOST=localhost
SMTP_PORT=1025
EMAIL_FROM="Storm Call <no-reply@stormcall.local>"
APP_URL=http://localhost:3000
S3_ENDPOINT=http://localhost:9000
S3_REGION=us-east-1
S3_ACCESS_KEY_ID=minioadmin
S3_SECRET_ACCESS_KEY=minioadmin
S3_PUBLIC_BUCKET=public
S3_PRIVATE_BUCKET=private
S3_FORCE_PATH_STYLE=true
