DATABASE_PORT=5432
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"
PORT=3000
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_ENDPOINT=http://localhost:9000
